#import "{{classPrefix}}Object.h"

@implementation {{classPrefix}}Object

-(BOOL)isEqual:(id)object
{
    if (![object isMemberOfClass:[self class]]) {
        return NO;
    }
        
    return [[self toDictionary] isEqualToDictionary:[({{classPrefix}}Object *)object toDictionary]];

}

/**
 * Gets the string presentation of the object.
 * This method will be called when logging model object using `NSLog`.
 */
- (NSString *)description {
    return [[self toDictionary] description];
}

@end
