    return [self.apiClient stringWithCompletionBlock: requestUrl 
                                      method: @"{{httpMethod}}" 
                                 queryParams: queryParams 
                                        body: bodyDictionary 
                                headerParams: headerParams
                                authSettings: authSettings
                          requestContentType: requestContentType
                         responseContentType: responseContentType
                             completionBlock: ^(NSDictionary *responseHeaders, NSString *data, NSError *error) {
                if (error) {
                    // no data to return
                    completionBlock(responseHeaders, error);
                    return;
                }
                completionBlock(responseHeaders, nil);
                    }];
